@use "./base.scss";
/* circular bullets */
li {
	list-style-type: disc;
}
/* colored bullets */
li::marker {
	color: var(--lightgray);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightgray); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* End of Scrollbar */

/* Headings */
h1,
h2 {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headerFont);
}

/* Custom Fonts or Typography */
body {
	--bodyFont: "Public Sans",Blobs,Blobmoji;
	--headerFont: "Hack",Blobs,Blobmoji;
	--codeFont: "Hack",Blobs,Blobmoji;
}