@use "./base.scss";

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightgray); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* End of Scrollbar */

/* Headings */
h1,
h2 {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headerFont);
}

/* Custom Fonts or Typography */
body {
	--bodyFont: "JetBrains Mono",Blobs,Blobmoji;
	--headerFont: "JetBrains Mono",Blobs,Blobmoji;
	--codeFont: "JetBrains Mono",Blobs,Blobmoji;
}

/* List Stylings*/

/* circular bullets*/
li {
	list-style-type: disc;
}
/* colored bullets */

li::marker {
	color: var(--lightgray);
}

/* Customized Position for Bullets */
article.popover-hint ul li::before {
	content: "\2022 ";
	margin-left: -1rem;
	float: left;
	color: var(--lightgray);
	font-size: 1.5rem;
}

article.popover-hint ul li {
	list-style-type: none;
}

/* Remove strikethrough from checklists */
article.popover-hint li:has(>input[type=checkbox]:checked) {
	text-decoration: none;
}

/* Minor Correction For Popovers and Sections Giving Tags a Bullet */
div.popover ul.tags li::before, ul.section-ul li.section-li::before {
	content: none;
}

ul.section-ul li.section-li {
	list-style-type: none;
}

/* Color Correction for Checked Items */
.page article li:has(>input[type=checkbox]:checked) {
	color: var(--darkgray);
}

/* Center H1*/
h1 {
	text-align: center;
}

/* Fix for Folders */
li h3 {
	line-height: 2.25rem;
}

/* Margins for Lists, and Paragraphs */
ul {
	margin-top: 0px;
	margin-bottom: 1.5em;
	padding-left: 2em;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0;
}

p:has(+ ul) {
	margin-bottom: 0;
}

/* footer fix */
footer ul {
	margin-top: 0;
}

footer ul li {
	list-style-type: none;
}